
executor {
    name = 'local'
}

process.ext.base_memory = 6.GB
process.ext.base_time = 10.minutes

process {
    executor = 'local'

    // Dynamic resource allocation with retries
    errorStrategy = 'retry'
    maxRetries = 1
    memory = { task.ext.base_memory * task.attempt }
    time = { task.ext.base_time * task.attempt }

    // Labels for specific runtimes
    withLabel: short_time {
        ext.base_time = 5.minutes
    }
    withLabel: default_time {
        ext.base_time = 10.minutes
    }
    withLabel: med_time {
        ext.base_time = 30.minutes
    }
    withLabel: long_time {
        ext.base_time = 1.hour
    }

    // Labels for specific memory usage
    withLabel: small_mem {
        ext.base_memory = 1.GB
    }
    withLabel: default_mem {
        ext.base_memory = 6.GB
    }
    withLabel: med_mem {
        ext.base_memory = 8.GB
    }
    withLabel: big_mem {
        ext.base_memory = 10.GB
    }

}
